In [10]:
import urllib.request
import pandas as pd

In [11]:
url = "https://data.seattle.gov/resource/tmmm-ytt6.csv?$where=checkoutyear=2018&$limit=10000"
checkout_file = "checkout.csv"
urllib.request.urlretrieve(url, checkout_file)

('checkout.csv', <http.client.HTTPMessage at 0x7f86245a38e0>)

In [12]:
checkouts_df = pd.read_csv(checkout_file)

In [47]:
checkouts_df.head(10)

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,publicationyear
0,Digital,OverDrive,EBOOK,2018,1,22,Enemy of the State,Vince Flynn,"Fiction, Literature, Thriller","Simon & Schuster, Inc.",2017
1,Digital,Hoopla,TELEVISION,2018,1,1,Newspaper Mom / Cucumber in Rio / Donut Raffle,NaN,Children's,DHX Media,NaN
2,Physical,Horizon,SOUNDDISC,2018,1,1,Mono / the Mavericks.,Mavericks (Musical group),Country music 2011 2020,"Valory,",[2015]
3,Digital,OverDrive,EBOOK,2018,1,2,Anna Karenina,Leo Tolstoy,"Classic Literature, Fiction, Literature","Penguin Group (USA), Inc.",2009
4,Digital,OverDrive,EBOOK,2018,1,1,"Dragon: Vlad Series, Book 8",Steven Brust,"Fantasy, Fiction",Macmillan Publishers,2015
5,Digital,OverDrive,EBOOK,2018,1,1,Little Dorrit,Charles Dickens,"Classic Literature, Fiction, Literature","Random House, Inc.",2012
6,Digital,OverDrive,EBOOK,2018,1,2,The Inside Out Man,Fred Strydom,"Fiction, Horror, Suspense, Thriller",Lightning Source Inc,2017
7,Physical,Horizon,BOOK,2018,2,1,Spain : a history / edited by Raymond Carr.,NaN,Spain History,"Oxford University Press,",2000.
8,Digital,OverDrive,EBOOK,2018,2,1,Krik? Krak!,Edwidge Danticat,"Fiction, Literature, Short Stories","Random House, Inc.",2013
9,Digital,OverDrive,AUDIOBOOK,2018,2,1,Cleopatra (Unabridged),H. Rider Haggard,"Fiction, Literature","Blackstone Audio, Inc.",2008

In [21]:
title = checkouts_df["title"]

# How do I select specific columns from a DataFrame?
https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

In [22]:
title.head()

0                                Enemy of the State
1    Newspaper Mom / Cucumber in Rio / Donut Raffle
2                             Mono / the Mavericks.
3                                     Anna Karenina
4                       Dragon: Vlad Series, Book 8
Name: title, dtype: object

In [23]:
type(checkouts_df["title"])

pandas.core.series.Series

In [24]:
checkouts_df["title"].shape

(10000,)

In [26]:
title_creator = checkouts_df[["title", "creator"]]

In [41]:
title_creator.head(10)

                                            title                    creator
0                              Enemy of the State                Vince Flynn
1  Newspaper Mom / Cucumber in Rio / Donut Raffle                        NaN
2                           Mono / the Mavericks.  Mavericks (Musical group)
3                                   Anna Karenina                Leo Tolstoy
4                     Dragon: Vlad Series, Book 8               Steven Brust
5                                   Little Dorrit            Charles Dickens
6                              The Inside Out Man               Fred Strydom
7     Spain : a history / edited by Raymond Carr.                        NaN
8                                     Krik? Krak!           Edwidge Danticat
9                          Cleopatra (Unabridged)           H. Rider Haggard

In [42]:
type(checkouts_df[["title", "creator"]])

pandas.core.frame.DataFrame

In [45]:
checkouts_df[["title", "creator"]].shape

(10000, 2)